site_name: TeachingTools

theme:
  name: "material"
  features:
    - toc.integrate
    - content.tabs.link
    - content.code.copy
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

nav:
  - Welcome: index.md
  - Contributing: contributing.md
  - License: license.md

repo_url: https://github.com/PhysicsApps/teaching
use_directory_urls: false
exclude_docs: |
  *.py
  requirements.txt

plugins:
- search
- macros
- autorefs
- tags:
    tags_file: index.md
- gen-files:
    scripts:
      - gen_shinylive.py
- blog:
    post_url_format: "{slug}"
    post_readtime: false
    blog_dir: .
    post_dir: "{blog}/apps"
    categories_toc: true
    archive: false
    post_excerpt: required
    draft: true
    categories_allowed:
      - Templates
      - Mathematics
      - Numerics
      - Physics
    pagination_per_page: 5
    post_excerpt_max_authors: 5
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.arithmatex:
      generic: true
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
copyright: CC BY 4.0 for teaching materials, MIT License for code examples

